# Bosch Application Board 3.0 board configuration

# Copyright (c) 2024 Dr. Konstantin Selyunin
# SPDX-License-Identifier: Apache-2.0

config BOARD_BOSCH_APPLICATION_BOARD_3_0
	bool "Bosch APP-BOARD-3.0"
	depends on SOC_NRF52840_QIAA
